In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
import mysql.connector

In [3]:
from llama_index.core import (
    VectorStoreIndex,
    SimpleDirectoryReader,
    ServiceContext,
    StorageContext,
    SQLDatabase,
)

from llama_index.core.prompts.prompts import SimpleInputPrompt

In [4]:
from langchain_huggingface import HuggingFaceEndpoint
from sqlalchemy import create_engine
from llama_index.core import SQLDatabase
from llama_index.core.objects import (
        SQLTableNodeMapping,
        SQLTableSchema
)
from llama_index.llms.huggingface import HuggingFaceLLM
from llama_index.embeddings.huggingface import HuggingFaceEmbedding
from llama_index.core.settings import Settings

from llama_index.core.objects import ObjectIndex
from llama_index.core import VectorStoreIndex
from llama_index.core.indices.struct_store import SQLTableRetrieverQueryEngine

from langchain_community.utilities import SQLDatabase

/opt/anaconda3/envs/tensorflow/lib/python3.10/site-packages/pydantic/_internal/_fields.py:160: UserWarning: Field "model_id" has conflict with protected namespace "model_".

You may be able to resolve this warning by setting `model_config['protected_namespaces'] = ()`.
  warnings.warn(

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
database_url = "mysql+mysqlconnector://root:seema987@localhost:3306/chinook"

# Now, we initialize the database object using langchain wrapper
db = SQLDatabase.from_uri(database_url)

In [7]:
print(db.run('select * from chinook.artist limit 10'))

[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Ant√¥nio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]

In [8]:
print(db.run('use chinook;'))
print(db.run('show tables;'))

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]

In [9]:
from sqlalchemy import create_engine, text

# Construct the connection string
connection_string = "mysql+mysqlconnector://root:seema987@localhost:3306/chinook"

# Create an engine instance
engine = create_engine(connection_string,pool_size=10, max_overflow=20)

table_name = []
# Test the connection using raw SQL
with engine.connect() as connection:
    result = connection.execute(text("use chinook;"))
    result2 = connection.execute(text("show tables;"))
    for row in result2:
        table_name.append(row[0])
        print(row)

('Album',)
('Artist',)
('Customer',)
('Employee',)
('Genre',)
('Invoice',)
('InvoiceLine',)
('MediaType',)
('Playlist',)
('PlaylistTrack',)
('Track',)

In [10]:
table_name
from llama_index.core import SQLDatabase

#sql_database = SQLDatabase(engine, include_tables = table_name,sample_rows_in_table_info=5)
sql_database = SQLDatabase(engine, schema='chinook', sample_rows_in_table_info=2)
sql_database

In [11]:
list(sql_database._all_tables)

['InvoiceLine',
 'Playlist',
 'Customer',
 'MediaType',
 'Track',
 'Album',
 'PlaylistTrack',
 'Artist',
 'Employee',
 'Genre',
 'Invoice']

In [12]:
# Printing the table information

for name in sql_database._all_tables:
    name = sql_database.get_single_table_info(name)
    print(name)
    print()

Table 'InvoiceLine' has columns: InvoiceLineId (INTEGER), InvoiceId (INTEGER), TrackId (INTEGER), UnitPrice (DECIMAL(10, 2)), Quantity (INTEGER), and foreign keys: ['InvoiceId'] -> Invoice.['InvoiceId'], ['TrackId'] -> Track.['TrackId'].

Table 'Playlist' has columns: PlaylistId (INTEGER), Name (VARCHAR(120) COLLATE "utf8mb3_general_ci"), and foreign keys: .

Table 'Customer' has columns: CustomerId (INTEGER), FirstName (VARCHAR(40) COLLATE "utf8mb3_general_ci"), LastName (VARCHAR(20) COLLATE "utf8mb3_general_ci"), Company (VARCHAR(80) COLLATE "utf8mb3_general_ci"), Address (VARCHAR(70) COLLATE "utf8mb3_general_ci"), City (VARCHAR(40) COLLATE "utf8mb3_general_ci"), State (VARCHAR(40) COLLATE "utf8mb3_general_ci"), Country (VARCHAR(40) COLLATE "utf8mb3_general_ci"), PostalCode (VARCHAR(10) COLLATE "utf8mb3_general_ci"), Phone (VARCHAR(24) COLLATE "utf8mb3_general_ci"), Fax (VARCHAR(24) COLLATE "utf8mb3_general_ci"), Email (VARCHAR(60) COLLATE "utf8mb3_general_ci"), SupportRepId (INTEGER), and foreign keys: ['SupportRepId'] -> Employee.['EmployeeId'].

Table 'MediaType' has columns: MediaTypeId (INTEGER), Name (VARCHAR(120) COLLATE "utf8mb3_general_ci"), and foreign keys: .

Table 'Track' has columns: TrackId (INTEGER), Name (VARCHAR(200) COLLATE "utf8mb3_general_ci"), AlbumId (INTEGER), MediaTypeId (INTEGER), GenreId (INTEGER), Composer (VARCHAR(220) COLLATE "utf8mb3_general_ci"), Milliseconds (INTEGER), Bytes (INTEGER), UnitPrice (DECIMAL(10, 2)), and foreign keys: ['AlbumId'] -> Album.['AlbumId'], ['GenreId'] -> Genre.['GenreId'], ['MediaTypeId'] -> MediaType.['MediaTypeId'].

Table 'Album' has columns: AlbumId (INTEGER), Title (VARCHAR(160) COLLATE "utf8mb3_general_ci"), ArtistId (INTEGER), and foreign keys: ['ArtistId'] -> Artist.['ArtistId'].

Table 'PlaylistTrack' has columns: PlaylistId (INTEGER), TrackId (INTEGER), and foreign keys: ['PlaylistId'] -> Playlist.['PlaylistId'], ['TrackId'] -> Track.['TrackId'].

Table 'Artist' has columns: ArtistId (INTEGER), Name (VARCHAR(120) COLLATE "utf8mb3_general_ci"), and foreign keys: .

Table 'Employee' has columns: EmployeeId (INTEGER), LastName (VARCHAR(20) COLLATE "utf8mb3_general_ci"), FirstName (VARCHAR(20) COLLATE "utf8mb3_general_ci"), Title (VARCHAR(30) COLLATE "utf8mb3_general_ci"), ReportsTo (INTEGER), BirthDate (DATETIME), HireDate (DATETIME), Address (VARCHAR(70) COLLATE "utf8mb3_general_ci"), City (VARCHAR(40) COLLATE "utf8mb3_general_ci"), State (VARCHAR(40) COLLATE "utf8mb3_general_ci"), Country (VARCHAR(40) COLLATE "utf8mb3_general_ci"), PostalCode (VARCHAR(10) COLLATE "utf8mb3_general_ci"), Phone (VARCHAR(24) COLLATE "utf8mb3_general_ci"), Fax (VARCHAR(24) COLLATE "utf8mb3_general_ci"), Email (VARCHAR(60) COLLATE "utf8mb3_general_ci"), and foreign keys: ['ReportsTo'] -> Employee.['EmployeeId'].

Table 'Genre' has columns: GenreId (INTEGER), Name (VARCHAR(120) COLLATE "utf8mb3_general_ci"), and foreign keys: .

Table 'Invoice' has columns: InvoiceId (INTEGER), CustomerId (INTEGER), InvoiceDate (DATETIME), BillingAddress (VARCHAR(70) COLLATE "utf8mb3_general_ci"), BillingCity (VARCHAR(40) COLLATE "utf8mb3_general_ci"), BillingState (VARCHAR(40) COLLATE "utf8mb3_general_ci"), BillingCountry (VARCHAR(40) COLLATE "utf8mb3_general_ci"), BillingPostalCode (VARCHAR(10) COLLATE "utf8mb3_general_ci"), Total (DECIMAL(10, 2)), and foreign keys: ['CustomerId'] -> Customer.['CustomerId'].

# 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
!huggingface-cli login

In [13]:
import os
import torch
from dotenv import load_dotenv
load_dotenv()

os.environ['huggingfacehub_api_token']= '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'

device = torch.device('mps')
from transformers import AutoTokenizer, AutoModelForCausalLM, TextStreamer

In [14]:
device

device(type='mps')

name = "meta-llama/Llama-2-7b-hf"
model = AutoModelForCausalLM.from_pretrained(name)

In [15]:
from langchain import OpenAI, SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

import torch

llm = HuggingFaceLLM(
                    context_window = 2048,
                    max_new_tokens = 256,
                    tokenizer_name = 'meta-llama/Llama-2-7b-chat-hf',
                    model_name = 'meta-llama/Llama-2-7b-chat-hf',
                    device_map = 'mps',
                    tokenizer_kwargs = {'max_length':2048}
)

print()
import os
from langchain.llms import AI21
from dotenv import load_dotenv

load_dotenv()

os.environ['AI21_API_KEY']
llm = AI21()

In [16]:
input_db = SQLDatabase.from_uri('mysql+mysqlconnector://root:seema987@localhost:3306/chinook')

from langchain_huggingface import HuggingFaceEndpoint
import os

os.environ['HUGGINGFACEHUB_API_TOKEN'] = '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'
repo_id="mistralai/Mistral-7B-Instruct-v0.2"

llm=HuggingFaceEndpoint(repo_id=repo_id,max_length=128,temperature=0.7,
                        HUGGINGFACEHUB_API_TOKEN= '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')

WARNING! max_length is not default parameter.
                    max_length was transferred to model_kwargs.
                    Please make sure that max_length is what you intended.
WARNING! HUGGINGFACEHUB_API_TOKEN is not default parameter.
                    HUGGINGFACEHUB_API_TOKEN was transferred to model_kwargs.
                    Please make sure that HUGGINGFACEHUB_API_TOKEN is what you intended.

The token has not been saved to the git credentials helper. Pass `add_to_git_credential=True` in this function directly or `--add-to-git-credential` if using via `huggingface-cli` if you want to set the git credential as well.
Token is valid (permission: read).
Your token has been saved to /Users/mohitverma/.cache/huggingface/token
Login successful

In [17]:
llm.invoke("What is machine learning")

' and how can it be applied to business? Machine learning is a subset of artificial intelligence that involves training a computer system to learn and improve its performance on a specific task without being explicitly programmed. It uses algorithms and statistical models to identify patterns and make predictions based on data.\n\nMachine learning can be applied to various business applications, such as:\n\n1. Customer segmentation: Machine learning algorithms can be used to analyze customer data and segment customers into different groups based on their demographics, purchasing behavior, and preferences. This can help businesses tailor their marketing efforts and provide personalized recommendations to customers.\n2. Fraud detection: Machine learning algorithms can be used to analyze transaction data and identify fraudulent activity in real-time. This can help businesses prevent financial losses and improve their security.\n3. Predictive maintenance: Machine learning algorithms can be used to analyze sensor data from machines and equipment to predict when maintenance is required. This can help businesses reduce downtime and improve their operational efficiency.\n4. Recommendation engines: Machine learning algorithms can be used to analyze customer data and provide personalized product or content recommendations. This can help businesses increase sales and improve customer satisfaction.\n5. Natural language processing: Machine learning algorithms can be used to analyze and understand human language, enabling applications such as chatbots, voice assistants, and sentiment analysis. This can help businesses improve their customer service and gain insights into customer feedback.\n\nOverall, machine learning can help businesses gain insights from data, automate processes, and improve their decision-making capabilities. It requires a significant investment in data collection, processing, and analysis, but the potential benefits can be substantial.'

In [18]:
from langchain.embeddings.huggingface import HuggingFaceEmbeddings
from llama_index.core import ServiceContext
from llama_index.embeddings.huggingface import HuggingFaceEmbedding
from llama_index.legacy.embeddings.langchain import LangchainEmbedding

#embed_model = LangchainEmbedding(HuggingFaceEmbeddings(model_name="sentence-transformers/all-mpnet-base-v2"))


embed_model=LangchainEmbedding(HuggingFaceEmbeddings(model_name="sentence-transformers/all-mpnet-base-v2"))

In [19]:
db_agent = SQLDatabaseChain(llm = llm, database = input_db, verbose=True)

In [20]:
db_agent.run("how many table in chinook?")

/opt/anaconda3/envs/tensorflow/lib/python3.10/site-packages/langchain_core/_api/deprecation.py:119: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
how many table in chinook?
SQLQuery:SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'chinook';
SQLResult: [(11,)]
Answer:There are 11 tables in the chinook database.
> Finished chain.

'There are 11 tables in the chinook database.'

In [21]:
db_agent.run("In chinook database how many rows in artist table?")

> Entering new SQLDatabaseChain chain...
In chinook database how many rows in artist table?
SQLQuery:SELECT COUNT(*) FROM Artist;
SQLResult: [(275,)]
Answer:There are 275 rows in the Artist table.
> Finished chain.

'There are 275 rows in the Artist table.'

In [22]:
db_agent.run("give me top 5 customer who have highest orders?")

> Entering new SQLDatabaseChain chain...
give me top 5 customer who have highest orders?
SQLQuery:SELECT c.FirstName, c.LastName, i.Total
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
ORDER BY i.Total DESC
LIMIT 5;
SQLResult: [('Helena', 'Hol√Ω', Decimal('25.86')), ('Richard', 'Cunningham', Decimal('23.86')), ('Ladislav', 'Kov√°cs', Decimal('21.86')), ('Hugh', "O'Reilly", Decimal('21.86')), ('Astrid', 'Gruber', Decimal('18.86'))]
Answer:The top 5 customers with the highest orders are: Helena Hol√Ω, Richard Cunningham, Ladislav Kov√°cs, Hugh O'Reilly, and Astrid Gruber.
> Finished chain.

"The top 5 customers with the highest orders are: Helena Hol√Ω, Richard Cunningham, Ladislav Kov√°cs, Hugh O'Reilly, and Astrid Gruber."

In [23]:
db_agent.run("give me average sales amount?")

> Entering new SQLDatabaseChain chain...
give me average sales amount?
SQLQuery:SELECT AVG(`Invoice`.`Total`) FROM `Invoice`;
SQLResult: [(Decimal('5.651942'),)]
Answer:The average sales amount is approximately 5.65.
> Finished chain.

'The average sales amount is approximately 5.65.'

In [24]:
db_agent.run("give me the best selling albums?")

> Entering new SQLDatabaseChain chain...
give me the best selling albums?
SQLQuery:SELECT a.Title, SUM(il.Quantity) as TotalQuantitySold
FROM InvoiceLine il
JOIN Invoice i ON il.InvoiceId = i.InvoiceId
JOIN Track t ON il.TrackId = t.TrackId
JOIN Album a ON t.AlbumId = a.AlbumId
GROUP BY a.AlbumId, a.Title
ORDER BY TotalQuantitySold DESC
LIMIT 5;
SQLResult: [('Minha Historia', Decimal('27')), ('Greatest Hits', Decimal('26')), ('Unplugged', Decimal('25')), ('Ac√∫stico', Decimal('22')), ('Greatest Kiss', Decimal('20'))]
Answer:The best selling albums according to the records in the database are 'Minha Historia' (27 units sold), 'Greatest Hits' (26 units sold), 'Unplugged' (25 units sold), 'Ac√∫stico' (22 units sold), and 'Greatest Kiss' (20 units sold).
> Finished chain.

"The best selling albums according to the records in the database are 'Minha Historia' (27 units sold), 'Greatest Hits' (26 units sold), 'Unplugged' (25 units sold), 'Ac√∫stico' (22 units sold), and 'Greatest Kiss' (20 units sold)."